@import url('https://fonts.googleapis.com/css2?family-Chakra+Petch:w ght@400:700&display=swap');


:root{
   --cor-de-fundo: #000000;
   --verde: #fd0a0a9a;
   --branco:#940000;
   --botao-ativo: #3A375E;
   --botao-inativo: rgba(58, 55,94, 0.5);
   --texto-fundo: rgba(58,55,94,0.3);
}


body{
   background-color: var(--cor-de-fundo);
   color: var(--branco);
   font-family: 'Chakra Petch', sans-serif;
}